.favicon {
    width: 40px;
    z-index: 1;
}

nav {
    background-color: rgb(12, 95, 150);
    z-index: 10;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    padding: 5px 5px;
    z-index: 15;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.container ul, .container li {
    list-style-type: none;
}

.container ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer a:hover {
    text-decoration: underline;
}

.container h1, .container h2 {
    color: #0c5e96;
    font-weight: bold;
}

.form-control{
    resize: none;
}

.carousel h5{
    font-weight: bold;
    font-size: 60px;
    color: rgb(16, 157, 223);
    -webkit-text-stroke: 2px rgb(49, 49, 49);
}